body {
  height: 100%;
  width: 100%;
  margin: 0%;
 background-color:#dedede;
}
.header{
      z-index: 24;

     position: fixed;
    background-color: white;
    width: 81rem;

}
.logo1{
      padding-left: 15px;
  width: 2rem;
}
table{
     margin-left: 4rem;
    margin-bottom: 1rem;
    margin-top: -25px;

}
.td1{
  
    font-family: 'Camphor Pro VF', 'Camphor Pro', sans-serif;
  padding-left: 2rem;
}
.img1{
  width: 81rem;
  margin-top: 3rem;
}
.td2{
  padding-left: 18rem;
}
.td3{
  padding-left: 3rem;
}
.logo2{
  width:22px;
  margin-left: 67rem;
}
.logo3{
  width: 24px;
  margin-left: 2rem
}
.logo4{
  width: 28px;
      padding-left: 2rem;
}
.img2{
  width: 81rem;
}
.firstbtn{
  
    font-family: 'Camphor Pro VF', 'Camphor Pro', sans-serif;
position :absolute;
  left: 13rem;
  bottom: 16rem;
      background-color: black;
    color: white;
    border-radius: 12px;
    width: 9rem;
    height: 35px;
}
.head1{
     position: absolute;
    left: 15rem;
    top: 38rem;
    font-size: 28px;
    color: white;
    font-weight: 200;
}
.head2{
position: absolute;
    top: 44rem;
    left: 15rem;
    font-size: 16px;
    color: white;
}
.head3{
   left: 18rem;
    position: absolute;
    top: 42.9rem;
    font-size: 26px;
    color: white;
}
.head4{
left: 23rem;
    position: absolute;
    top: 43.6rem;
    
    font-size: 19px;
    color: grey;
    text-decoration: line-through;
}
.secondbtn{
  
    font-family: 'Camphor Pro VF', 'Camphor Pro', sans-serif;
    position: absolute;
    top: 46.6rem;
    left: 15rem;
    background-color: white;
    font-size: 17px;
    border-radius: 12px;
    padding: 9px;
    padding-left: 13px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.next3{
  display: flex;
  width: 81rem;
}
  .img3{
   width: 48%;
    margin-right: 1px;
    height: 22rem;
    padding-top: 1rem;
    margin-left: 12px;
  }
.img4{
   width: 50%;
    height: 22rem;
    margin-left: 13px;
   padding-top: 1rem;
}
.next4{
  display: flex;
  margin-top: 1rem;
}
.img5{
    height: 25rem;
    width: 38.54rem;
    margin-left: 1rem;
}
.img6{
  width: 20rem;
    height: 25rem;
    margin-left: 1rem;
}
.img7{
      width: 17rem;
    height: 15rem;
    margin-top: 10rem;
}
.next5{
      margin-left: 18px;
  background-color:#ffffff;
}
.head5{
  
    font-family: 'Camphor Pro VF', 'Camphor Pro', sans-serif;
      margin-left: 6rem;
    font-size: 23px;
    margin-top: 27px;

}
.head6{
  
    font-family: 'Camphor Pro VF', 'Camphor Pro', sans-serif;
  margin-left: 6rem;
}
.head7{
  
    font-family: 'Camphor Pro VF', 'Camphor Pro', sans-serif;
      color: orange;
    margin-left: 8rem;
}
.img7{
      margin-top: -1em;
    margin-left: 1rem;
}
.img8{
      width: 38rem;
    margin-left: 4em;
    margin-top: 3rem;
}
.next6{
  display:flex;
}
.next7{
  background-color: #fff;
    height: 25rem;
    margin-top: 3rem;
    width: 37rem;
}
.head8{
  
    font-family: 'Camphor Pro VF', 'Camphor Pro', sans-serif;
      margin-left: 15rem;
    margin-top: 6rem;
      color: #d5631c;
}
.head9{
  
    font-family: 'Camphor Pro VF', 'Camphor Pro', sans-serif;
    margin-top: 1px;
    margin-left: 13rem;
    font-size: 2rem;
}
.head10{
  
    font-family: 'Camphor Pro VF', 'Camphor Pro', sans-serif;
  margin-left:8rem;
}
.head11{
  
    font-family: 'Camphor Pro VF', 'Camphor Pro', sans-serif;
  margin-left:14rem;
}
.head12{
  
    font-family: 'Camphor Pro VF', 'Camphor Pro', sans-serif;
  margin-left:16rem;
}
.next8{
  display:flex;
  height: 26rem;
    background-color: white;
    width: 38rem;
    margin-left: 4rem;
    margin-top: 1rem;
}
.head13{
  
    font-family: 'Camphor Pro VF', 'Camphor Pro', sans-serif;
        margin-left: 11rem;
    padding-top: 6rem;
}
 .img9{
       width: 2rem;
    height: 2rem;
    margin-top: 14rem;
    margin-left: -18rem;
}
.img10{
 width: 2rem;
    height: 2rem;
    padding-top: 14rem;
    padding-left: 8rem;
}
.img11{
     height: 2rem;
    padding-top: 14rem;
    padding-left: 9rem
} 
.tr2{
  
    font-family: 'Camphor Pro VF', 'Camphor Pro', sans-serif;
      position: absolute;
    left: 6rem;
    top: 150rem;
}
.td5{
         
    font-family: 'Camphor Pro VF', 'Camphor Pro', sans-serif;
    padding-left: 2rem;
}
.td6{
      
    font-family: 'Camphor Pro VF', 'Camphor Pro', sans-serif;
    padding-left: 2rem;
}
.next9{
    background-color: white;
    width: 20rem;
    height: 12rem;
    margin-left: 7rem;
    padding-left: 34rem;
    padding-top: 1rem;
}
.next10{
       background-color: white;
    width: 12rem;
    
    margin-left: -34rem;
    margin-top: 14rem;
    padding-left: 34rem;
}
.head14{
  
    font-family: 'Camphor Pro VF', 'Camphor Pro', sans-serif;
      margin-left: -23rem;
margin-top:3rem;
}
.head15{
  
    font-family: 'Camphor Pro VF', 'Camphor Pro', sans-serif;
    margin-left: -23rem; 
}
.head16{
  
    font-family: 'Camphor Pro VF', 'Camphor Pro', sans-serif;
  margin-top:4rem;
      margin-left: -23rem;
}
.head17{
  
    font-family: 'Camphor Pro VF', 'Camphor Pro', sans-serif;
     margin-left: -26rem;
}
.next12{
  display:flex;
  background-color: black;
    height: 38rem;
  margin-top: 4rem;
    color: white;
}
.next13{
      padding-left: 45px;
  padding-top: 4rem;
    display: flex;
}
.next14{
    padding-left: 7rem;
    padding-top: 4rem;
  
}
.next15{
        padding-left: 10rem;
    padding-top: 4rem;
}
.next16{
    padding-left: 11rem;
    padding-top: 4rem;
}
.li1{
  
    font-family: 'Camphor Pro VF', 'Camphor Pro', sans-serif;
  font-size: 23px;
   line-height: 37px;
}
ul{
  list-style:none;
}
li{
  
    font-family: 'Camphor Pro VF', 'Camphor Pro', sans-serif;
  line-height:2rem;
}
.next17{
      background-color: black;
    color: white;
    margin-top: -16px;
    height: 7rem;
}
.fotter2{
  
    font-family: 'Camphor Pro VF', 'Camphor Pro', sans-serif;
     padding-left: 5rem;
    padding-top: 3rem;
    font-size: 13px;
}
.fotter3{
  
    font-family: 'Camphor Pro VF', 'Camphor Pro', sans-serif;
      position: absolute;
    margin-left: 66rem;
    margin-top: -2rem;


}
.fotterimage{
  margin-top: -13rem;
    position: absolute;
    left: 73rem;
    top: 216rem;
    width: 2rem;
}